<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">To you from me</h2>
                <hr class="light">
                <p class="text-faded">Life is a journey to be savored with each step of the way. Take your time and do your self. Go ahead and I will be your backing forever.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
